import directors;
import dynamic;

backend default none;

sub vcl_init {
	# https://github.com/nigoroll/libvmod-dynamic/blob/17c1fea935a2e2bc51c323069c66a77b6529d6ef/src/vmod_dynamic.vcc#L211-L226
	new backends = dynamic.director(
		port = "{{ getenv "VARNISH_BACKEND_PORT" "80" }}",
		ttl = "{{ getenv "VARNISH_DNS_TTL" "10s" }}",
		first_byte_timeout = {{ getenv "VARNISH_BACKEND_FIRST_BYTE_TIMEOUT" "60s" }},
		connect_timeout = {{ getenv "VARNISH_BACKEND_CONNECT_TIMEOUT" "3.5s" }},
		between_bytes_timeout = {{ getenv "VARNISH_BACKEND_BETWEEN_BYTES_TIMEOUT" "60s" }},
	);
}

sub vcl_recv {
	set req.backend_hint = backends.backend("{{ getenv "VARNISH_BACKEND_HOST" }}");
}
